.promo {
	position: relative;
	padding-top: 50px;

	&__potter {
		display: none;
	}

	&__wrapper {
		margin-top: 50px;
	}

	&__title {
		padding-inline: 5px;
	}

	&__cta {
		margin-top: 40px;
	}

	&__img {
		margin: 0 auto;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		width: 270px;
		height: 377px;
	}

	&__btn {
		margin: 18px auto 0 auto;
		
	}
}

@media screen and (min-width: 768px) {
	.promo {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		&__cta {
			margin: 0;
		}

		&__title {
			text-align: left;
			padding-inline: 0;
			margin-left: 71px;
			padding-top: 250px;
		}

		&__img {
			width: 230px;
			height: 321px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.promo {
		&__potter {
			display: block;
			position: absolute;
			z-index: -1;
			width: clamp(450px, 37.5vw, 640px);
			height: 633px;
            object-fit: cover;
			top: 0;
			left: 0;
		}

		&__wrapper {
			justify-content: flex-end;
		}

		&__title {
			margin: 0 10px 0 0;
		}
	}
}

@media screen and (min-width: 1920px) {
	.promo {
        padding-top: 40px;

		&__potter {
			height: 900px;
		}

        &__wrapper {
            margin-top: 79px;
        }

        &__title {
            padding-top: 384px;
            margin: 0 30px 0 0;
        }

		&__img {
			width: 330px;
			height: 460px;
		}

		&__btn {
            margin-top: 50px;
		}
	}
}
