$main-gardient: linear-gradient(0.00deg, rgb(30, 172, 199),rgb(76, 226, 255) 100%)
$main-color: rgb(30, 172, 199)
$second-color: rgb(11, 64, 74)

*
    font-family: 'Roboto', sans-serif

a
    text-decoration: none

ul
    list-style: none

.container
    width: 1140px

.btn
    display: block
    border-radius: 4px
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.12)
    background: $main-gardient
    border: none
    color: rgb(255, 255, 255)
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.21)
    font-size: 14px
    font-weight: 400
    text-align: center
    text-transform: uppercase
    cursor: pointer
    &:hover
        background: $second-color
        color: grey

.box_tittle
    display: block
    margin: 0 auto
    padding-top: 6px
    width: 112px
    min-height: 24px
    font-size: 11px
    font-weight: 400
    line-height: 11px
    text-align: center
    text-transform: uppercase

.tittle
    color: rgb(34, 34, 34)
    font-size: 38px
    font-weight: 700
    line-height: 48px
    text-align: center
    text-transform: uppercase

.header
    position: absolute
    width: 100%
    height: 136px
    padding: 67px 0
    background-color: rgba(0, 0, 0, 0.6)
    &_nav
        position: fixed
        display: block
        width: 100%
        height: 50px
        background-color: rgb(33, 33, 33)
        top: 0px
        z-index: 2
        &_wrapper
            padding: 12px 70px
            display: flex
            justify-content: space-around
            align-items: center
            .nav_item
                color: rgb(255, 255, 255)
                display: block
                font-size: 15px
                font-weight: 300
                border-right: 2px dashed rgb(0, 0, 0)
                padding-right: 28px
                transition: all .2s ease
                &:hover
                    color: rgb(155, 155, 155)
                    transition: all .2s ease
    &_bottom
        .logo_desc
            color: white
            font-size: 13px
            font-weight: 250
        &_tittle
            color: white
            font-size: 12px
            font-weight: 300
            line-height: 14px
            text-align: right
        &_number
            display: block
            text-align: right
            color: white
            font-size: 22px
            font-weight: 400
            text-align: right
            text-transform: uppercase
        &_btn
            width: 172px
            height: 46px

.hero
    display: block
    background: url('../img/bg_hero.png') center (center / cover) no-repeat
    padding: 202px 0 186px 0
    &_tittle
        display: block
        font-weight: 900
        font-size: 60px
        line-height: 46px
        text-transform: uppercase
        text-align: center
        color: white
        &_sub
            margin-top: 22px
            margin-bottom: 12px
            font-weight: 700
            font-size: 36px
            line-height: 24px
    &_desc
        display: block
        margin: 30px auto 0 auto
        color: white
        max-width: 984px
        font-size: 18px
        font-weight: 400
        line-height: 24px
        text-align: center
    &_btn
        display: block
        margin: 115px auto 0 auto
        width: 259px
        height: 63px
        font-size: 18px
        font-weight: 400
        line-height: 63px

.advantages
    padding: 20px 0 64px 0
    &_boxtittle
        background-color: black
        color: white
    &_tittle
        margin-top: 33px
        margin-bottom: 0

    &_item
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 16px
        margin-left: 25px
        height: 150px
        &_first
            width: 512px
        &_second
            width: 482px

    &_icon
        display: flex
        justify-content: center
        align-items: center
        width: 116px
        height: 116px
        background-color: $main-color
        border-radius: 100%
    &_text
        display: block
        margin-left: 25px
        font-size: 15px
        font-weight: 300
        line-height: 21px
        &_first
            max-width: 372px
        &_second
            max-width: 341px
    &_subtittle
        font-size: 17px
        font-weight: 400
        color: $main-color

.possibilities
    padding: 48px 0 56px 0
    &_boxtittle
        background-color: black
        color: white
    &_tittle
        margin-top: 33px
        margin-bottom: 1px
    &_subtittle
        color: rgb(34, 34, 34)
        font-size: 17px
        font-weight: 400
        line-height: 21px
        text-align: center
    &_wrapper
        margin-top: 30px
    &_item
        position: relative
        display: block
        margin: 0 auto
        margin-bottom: 20px
        padding-top: 90px
        width: 320px
        height: 280px
        &_first
            background: url('../img/card_1.png') center (center / cover) no-repeat
        &_second
            background: url('../img/card_2.png') center (center / cover) no-repeat
        &_third
            background: url('../img/card_3.png') center (center / cover) no-repeat
        &_fourth
            background: url('../img/card_4.png') center (center / cover) no-repeat
        &_fifth
            background: url('../img/card_5.png') center (center / cover) no-repeat
        &_sixth
            background: url('../img/card_6.png') center (center / cover) no-repeat
        &_tittle
            color: white
            font-size: 24px
            font-weight: 400
            line-height: 31px
            text-align: center
            text-transform: uppercase
        &_plus
            display: block
            position: absolute
            transform: translateX(-50%)
            top: 217px
            left: 50%
            width: 29px
            height: 29px
            border-radius: 100%
            background-color: black
            transition: all .2s ease
            &::before
                content: ''
                display: block
                width: 17px
                height: 2px
                background-color: $main-color
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            &::after
                content: ''
                display: block
                width: 2px
                height: 17px
                background-color: $main-color
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            &::before, &::after
                transition: all .2s ease
            &:hover
                &::before, &::after
                    background-color: $second-color
                    transition: all .2s ease

.car
    position: relative
    padding: 59px 0 138px 0
    &_background
        display: block
        position: absolute
        top: 0
        width: 100%
        height: 502px
        background-color: rgb(7, 7, 22)
        z-index: -1
    &_boxtittle
        background-color: white
        color: rgb(7, 7, 22)
    &_tittle
        margin-top: 26px
        color: white
        margin-bottom: 1px
    &_subtittle
        color: white
        font-size: 17px
        font-weight: 400
        line-height: 21px
        text-align: center
    &_img
        display: block
        margin: 0 auto
        margin-top: 54px
    &_desc
        color: rgb(34, 34, 34)
        font-size: 17px
        font-weight: 300
        line-height: 24px
        text-align: center

.requirements
    padding: 68px 0 86px 0
    &_boxtittle
        background-color: black
        color: white
    &_tittle
        margin-top: 28px
        margin-bottom: 1px
    &_wrapper
        margin-top: 36px
    &_item
        margin: 0 auto
        margin-bottom: 60px
        &_tittle
            color: $main-color
            font-size: 22px
            font-weight: 400
            line-height: 24px
            &_warning
                color: rgb(255, 86, 86)
        &_desc
            color: $main-color
            font-size: 17px
            font-weight: 300
            line-height: 24px
        &_list
            padding-left: 50px
    .list_item
        list-style-type: none
        position: relative
        color: rgb(34, 34, 34)
        font-size: 17px
        font-weight: 300
        line-height: 32px
        &_blue
            &::before
                content: ''
                display: block
                position: absolute
                width: 21px
                height: 20px
                background: url('../icons/check_blue.png') center (center / cover) no-repeat
                left: -32px
                top: 6px
        &_red
            &::before
                content: ''
                display: block
                position: absolute
                width: 21px
                height: 20px
                background: url('../icons/check_red.png') center (center / cover) no-repeat
                left: -32px
                top: 6px

.towns
    padding: 50px 0 22px 0
    background: url('../img/towns_bg.png') center (center / cover) no-repeat
    &_boxtittle
        background-color: white
        color: rgb(7, 7, 22)
    &_tittle
        color: white
        margin-top: 26px
        margin-bottom: 2px
    &_subtittle
        color: rgb(255, 255, 255)
        font-size: 17px
        font-weight: 400
        line-height: 21px
        text-align: center
    &_link
        display: block
        width: 220px
        margin: 0 auto
        margin-top: 480px
        color: $main-color
        font-size: 15px
        font-weight: 400
        line-height: 21px
        text-align: center
        text-transform: uppercase
        transition: all .1s ease
        &:hover
            color: $second-color
            transition: all .1s ease

.footer
    padding: 10px 22px 16px 22px
    &_devider
        display: block
        margin: 0 auto
        width: 300px
        height: 7px
        background-color: $main-color
    &_wrapper
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 30px
    &_socialmedia
        display: flex
        gap: 6px
        width: 296px
        &_logo
            display: flex
            justify-content: center
            align-items: center
            width: 35px
            height: 35px
            background-color: rgb(7, 7, 22)
            border-radius: 100%
            transition: all .1s ease
            &:hover
                background-color: $main-color
                transition: all .1s ease
    &_links
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

        width: 420px
        height: 68px
        &_tittle
            color: rgb(7, 7, 22)
            font-size: 15px
            font-weight: 300
            line-height: 21px
            text-transform: uppercase
            transition: all .1s ease
            &:hover
                color: $main-color
                transition: all .1s ease
            &_wrapper
                display: flex
                justify-content: space-between
                align-items: center
                width: 366px
        &_subtittle
            color: rgb(153, 153, 153)
            font-size: 11px
            font-weight: 300
            line-height: 21px
            text-transform: uppercase
            transition: all .1s ease
            &:hover
                color: $main-color
                transition: all .1s ease
            &_wrapper
                display: flex
                justify-content: space-between
                align-items: center
                gap: 20px
        &_languages
            color: $main-color
            font-size: 11px
            font-weight: 400
            line-height: 21px
            text-transform: uppercase
            transition: all .1s ease
            &:hover
                color: $second-color
                transition: all .1s ease
